/*Skip to content


/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  /* Set font size for easy rem calculations
   * default document font si
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: #3CBC8D;
  color: white;*/


}
body {
      background-color: lightblue;
    }
    
    h1 {
      color: white;
      
    }
    
    p {
      font-family: verdana;
      font-size: 20px;
    }
    body {
      background-color: lightblue;
    }
    
    h1 {
      color: white;
      
    }
    
    p {
      font-family: verdana;
      font-size: 20px;
    }
    body {
  background-color: lightblue;
}

h1 {
  color: white;
  
}

p {
  font-family: verdana;
  font-size: 20px;
}
footer > p {
  margin: 1rem;
}

footer i {
  vertical-align: middle;
}

@media (max-width: 28.75em) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}
